div {
    width: 10px;
    height: 10px;
    background-color: dodgerblue;

    margin: 5px;
    padding: 10px;
}

span {
    width: 10px;
    height: 1000px;
    background-color: fuchsia;

    padding: 10px;
}